body {
    background-color: green;
}

/* so that all containers have color */
[class*='con'] {
    padding: 1rem;
    background-color: rgba(199, 212, 228, 0.838);
    border: 2px solid white;
    color: white;
}


/* so that all columns have color */
[class*='col'] {
    padding: 1rem;
    background-color: rgba(54, 129, 227, 0.838);
    border: 2px solid white;
    color: white;
}
